# --- Telegram Core ---
pyrogram==2.0.106
tgcrypto==1.2.5

# --- Voice Calls ---
py-tgcalls==2.0.1
ntgcalls==1.2.0

# --- Database ---
motor==3.3.2
pymongo[srv]==4.6.1

# --- Utils ---
python-dotenv
GitPython
telegraph
youtube-search-python
yt-dlp

# --- Web (optional, keep isolated) ---
flask
Flask-RESTful
